body {
    margin: auto;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main-heading {
    font-size: 40px;
    margin-bottom: 10px;
}

#the-workshop {
    margin-top: 0px;
    font-style: italic;
    color: grey;
}

#button {
    padding: 8px 20px 8px 20px;
    color: grey;
    border-color: rgb(124, 124, 124);
    background-color: white;
    border-style: solid;
    border-radius: 3px;
}

#button:hover {
    color: white;
    background-color: rgb(124, 124, 124);
}

.container1-div {
    width: 480px;
    height: 300px;
    text-align: center;
    border-bottom: 2px solid red;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 40px;
}

#conta {
    background-color: rgb(224, 224, 224);
    margin-top: 20px;
    text-align: justify;
    height: 40px;
    display: flex;
    padding-bottom: 300px;
    margin-bottom: 0px;
}

.icons {
    margin-bottom: -6px;
}

.icons span {
    font-size: 60px;
    color: rgb(176, 0, 0);
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.heading {
    color: rgb(176, 0, 0);
    font-size: 30px;
    padding-top: 0px;
    margin-top: 0px;
}

#conta2 {
    background-color: rgb(42, 42, 42);
    color: white;
    text-align: center;
    height: 300px;
    clear: both;
    margin-top: 0px;
}

.foot {
    display: flex;
}

#conta2 h1 {
    margin-top: 0px;
}

#conta2 span {
    font-size: 90px;
    margin: 30px;
}

.conta2-div {
    border-left: 3px solid white;
    float: left;
    padding-left: 5%;
    margin-left: 170px;
    height: 100px;
    margin: auto;
}

#main-content {
    margin: 20px;
}